/* Global */
* {
	font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
::selection { 
	background: rgba(0, 0, 0, .1);
	text-shadow: none;
}
::-webkit-scrollbar {
	background-color: rgba(0, 0, 0, .1);
	border: 0;
	width: 10px;
	height: 10px;
}
::-webkit-scrollbar-track {
	border: 0;
	background-clip: padding-box;
	background-color: rgba(206, 205, 197, .95);
}
	::-webkit-scrollbar-track:hover {
		background-color: rgba(0, 0, 0, .1);
	}
	::-webkit-scrollbar-track:active {
		background-color: rgba(0, 0, 0, .2);
	}
::-webkit-scrollbar-thumb {
	border: 0;
	min-height: 34px;
	padding-top: 100;
	background-clip: padding-box;
	background-color: rgba(0, 0, 0, .2);
}
	::-webkit-scrollbar-thumb:hover {
		background-color: rgba(0, 0, 0, .3);
	}
	::-webkit-scrollbar-thumb:active {
		background-color: rgba(0, 0, 0, .4);
	}
::-webkit-scrollbar-button {
	width: 0;
	height: 0;
}
body {
	background: #e5e4db !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	color: #404040 !important;
	line-height: 1.8 !important;
	border-bottom-color: rgba(0, 0, 0, .1) !important;
}
a {
	color: #404040 !important;
	text-decoration: none !important;
}
ul {
	list-style-image: none !important;
}
li {
	margin-bottom: 0 !important;
	line-height: 1.8;
}
#left-navigation,
#right-navigation li,
#siteNotice,
#footer,
a[title="Learn about new features"],
.vectorTabs,
.ambox,
.plainlinks>tbody>tr>td>a>img {
	display: none !important;
}

/* Header */
#head {
	left: 50px !important;
	right: 50px !important;
	width: auto !important;
	height: 61px !important;
	padding-top: 10px !important;
}
#head-base,
#page-base,
#mw-head-base,
#mw-page-base {
	height: 80px !important;
	background: transparent !important;
}
	#mw-head {
		position: fixed !important;
		top: 0 !important;
		right: 0 !important;
		width: 100% !important;
		background-color: rgba(206, 205, 197, .95) !important;
	}
#right-navigation {
	float: left !important;
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	margin-left: 20px;
}
	#searchform {
		margin-left: -20px !important;
	}
	#simpleSearch {
		opacity: .5;
		-webkit-transition: opacity .3s;
	}
	#mw-head:hover #simpleSearch {
		opacity: 1;
	}
	#simpleSearch,
	#searchform {
		margin-top: 0px !important;
	}
#pt-notifications .mw-echo-notifications-badge {
	background-color: rgba(0, 0, 0, .1) !important;
}
#pt-notifications .mw-echo-notifications-badge:hover {
	background-color: rgba(0, 0, 0, .15) !important;
}

/* Content */
#content {
	width: auto !important;
	max-width: 900px;
	padding: 22px 30px !important;
	margin: 0px auto !important;
	color: #404040;
	background: #f6f4ec !important;
	border: none !important;
	border-radius: 3px;
}
	#content a {
		border-bottom: 1px solid rgba(0, 0, 0, .075);
	}
	#content sup a,
	#content a.image,
	.toc a {
		border-bottom: none !important;
	}
	#content a.new {
		color: #91918b !important;
	}
	#content a:hover {
		border-bottom: 1px solid rgba(0, 0, 0, .4);
	}
#bodyContent p {
	margin: 19px 0 !important;
	line-height: 1.8 !important;
}
	.template-facttext {
		background-color: rgba(0, 0, 0, .1) !important;
	}
#firstHeading {
	line-height: 1.8 !important;
}
	#siteSub {
		color: rgb(206, 205, 197) !important;
	}
	#contentSub,
	#contentSub2 {
		margin: 0 0 1em 0 !important;
		line-height: 1.8 !important;
	}
.mw-editsection {
	/* float: right; */
}
	.mw-editsection a {
		border: none !important;
		color: #91918b !important;
	}
	.mw-editsection-bracket {
		display: none;
	}

/* Tables */
table {
	border-color: rgba(0, 0, 0, .1) !important;
}
	table.wikitable {
		margin: 1em !important;
		background-color: #e5e3db !important;
		/* color: #404040 !important; */
	}
	table.wikitable > tr > th,
	table.wikitable > * > tr > th {
		background-color: #cecdc5 !important;
	}
	table.wikitable > tr > th,
	table.wikitable > tr > td,
	table.wikitable > * > tr > th,
	table.wikitable > * > tr > td {
		border: 1px #f6f4ec solid !important;
		padding: .3em !important;
	}
	.infobox.bordered td,
	.infobox.bordered th {
		border: 1px #f6f4ec solid !important;
	}
	.infobox.geography td,
	.infobox.geography th,
	.infobox.geography .mergedtoprow td,
	.infobox.geography .mergedtoprow th {
		border-color: rgba(0, 0, 0, .1) !important;
	}

/* Portal */
.portal,
#p-logo,
#p-lang .uls-settings-trigger,
#p-lang .wbc-editpage {
	display: none !important;
}
#p-lang {
	display: block !important;
	position: fixed;
	top: 10px;
	left: 230px;
}
#p-lang .body {
	display: none !important;
	max-height: 300px;
	overflow-y: auto;
	margin: 3px 0 0 0 !important;
	padding: 0 15px;
	background-color: rgba(206, 205, 197, .95);
}
	#p-lang-label {
		padding: 4px 0 3px 15px !important;
		background: none !important;
	}
		#p-lang-label a {
			text-decoration: none !important;
		}
	#p-lang:hover .body {
		display: block !important; 
	}
	#p-lang .body ul li {
		padding: 5px 0 !important;
	}
	#p-lang .body ul li.FA,
	#p-lang .body ul li.GA {
		margin: 0 !important;
		background: transparent !important;
	}

/* Elements */
pre,
.mw-code,
.toc,
.infobox,
.fmbox,
.thumbinner,
#catlinks,
.metadata,
#filetoc {
	background: #e5e3db !important;
	line-height: 1.8 !important;
	border: none !important;
}
.gallerybox .thumb {
	background: #e5e3db !important;
	border-color: rgba(0, 0, 0, .1) !important;
}
	.topicon {
		background: transparent !important;
	}
		.topicon a {
			border: none !important;
		}
.thumbinner {
	/* padding: 3px 2px !important; */
}
	.thumbimage {
		margin-top: 1px;
		border: none !important;
	}

/* MP 2012 */
#mp-2012 {
	margin-top: -10px;
}
	#mp-2012 a.image,
	#mp-2012 img.thumbborder,
	#column-participate-button a {
		border: none !important;
	}
#mp-2012-banner {
	background-image: none !important;
}
	#mp-2012-banner-logo {
		display: none !important;
	}
	#mp-2012-banner-title a {
		border: none !important;
	}
	#mp-2012-banner-title h1 {
		font-size: 32px;
	}
	#mp-2012-banner-title p {
		margin: 0 !important;
		color: #404040 !important;
	}
	#mp-2012-banner-intro {
		font-size: 85%;
	}
	#mp-2012-banner-intro p {
		margin: 25px 0 0 0 !important;
		color: #404040 !important;
		letter-spacing: 0 !important;
	}
	#mp-2012-banner-intro .number-of-articles a {
		padding: 0 3px;
		font-size: inherit !important;
	}
#mp-2012-body {
	border-top: 1px solid rgba(0, 0, 0, .1);
}
	.mp-2012-column-left-block + .mp-2012-column-left-block {
		border-top: 1px solid rgba(0, 0, 0, .1) !important;
	}
	.mp-2012-column-right-block,
	#mp-2012-links table {
		background: #e5e3db !important;
		border: none !important;
		box-shadow: none !important;
	}